body {
    font-family: Arial;
    background: #f2f2f2;
}

.calendar {
    width: 320px;
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    padding: 5px 10px;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.days div {
    font-weight: bold;
    padding: 5px;
}

.dates div {
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

.today {
    background: lightblue;
    border-radius: 50%;
}
